h1, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 400px;
    font-size: 120px;
}

button{
    position: absolute;
    width: 30%;
    left: 35%;
    right: 35px;
}

#avatar{
    position: absolute;
    top: 200px;
    left: 10px;
    width: 80px;
}

#coin{
    position: absolute;
    top: 200px;
    left: 100px;
    width: 80px;
}